/*
Project Name: xxNAMExx
Client: xxNAMExx
Author: Tim LaTorre | timlatorre@gmail.com
*/


/* ----  [Table Of Contents]  -----------

     01 FONTS
     02 MISC
     03 GLOBAL STYLES
     04 STYLING
     05 WEB STRUCTURE
     05 SOCIAL MEDIA
     06 CONTACT FORM
     07 FOOTER

     XX- xxNAMExx

---------------------------------------*/


/*---------  01 FONTS  ---------*/

@font-face {
    font-family: 'avenirroman';
    src: url('../fonts/avenir-roman-webfont.eot');
    src: url('../fonts/avenir-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-roman-webfont.woff') format('woff'),
         url('../fonts/avenir-roman-webfont.ttf') format('truetype'),
         url('../fonts/avenir-roman-webfont.svg#avenirroman') format('svg');
}

@font-face {
    font-family: 'adobe_garamondsemibold_italic';
    src: url('../fonts/agaramond-semibolditalic-webfont.eot');
    src: url('../fonts/agaramond-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agaramond-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/agaramond-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/agaramond-semibolditalic-webfont.svg#adobe_garamondsemibold_italic') format('svg');
}

@font-face {
    font-family: 'avenirlight';
    src: url('../fonts/avenir-light-webfont.eot');
    src: url('../fonts/avenir-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-light-webfont.woff') format('woff'),
         url('../fonts/avenir-light-webfont.ttf') format('truetype'),
         url('../fonts/avenir-light-webfont.svg#avenirlight') format('svg');
}


/*---------  02 MISC  ----------*/

/* Box Model Hack */
* { -moz-box-sizing: border-box; /* Firexfox */ -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */ box-sizing: border-box; /* IE */ }

/* Clear fix hack */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.clear { clear: both; }
.alignright { float: right; padding: 0 0 10px 10px; /* note the padding around a right floated image */ }
.alignleft { float: left; padding: 0 10px 10px 0; /* note the padding around a left floated image */ }



/*------ 03 GLOBAL STYLES ------*/

body { background: url('../images/retro_intro.png') #f3f2f1; font-family: 'avenirroman', Arial, sans-serif; font-size: 12px; color: #000; line-height: 1.1; }



/*--------- 04 STYLING ---------*/

#wrapper { height: 100%; }
#wrapper-inside { height: 100%; padding-top: 100px; }
#topbar { background: rgba(237, 23, 79, 1); }

nav ul li h1 a { font-family: 'avenirroman', Arial, sans-serif; }
nav ul li h1 a small { font-family: 'adobe_garamondsemibold_italic', serif; color: rgba(237, 23, 79, 1); font-size: 16px; }
nav ul li { font-family: 'avenirroman'; }
nav ul li a:hover { color: rgba(255, 255, 255, 1) }

header { background: rgba(152, 0, 46, 1); }
#logo { font-family: 'avenirroman', Arial, sans-serif; font-size: 50px; color: rgba(255, 255, 255, 1)}
#logo span { font-family: 'adobe_garamondsemibold_italic', serif; font-size: 40px; color: rgba(237, 23, 79, 1); }
#home_nav a { font-family: 'avenirlight', sans-serif; font-size: 20px; text-align: center; color: black; }
#home_nav a:hover { color: rgba(152, 0, 46, 1);}
#home_nav ul li { list-style: none; }

#headline h1 { font-family: 'adobe_garamondsemibold_italic', sans-serif; color: rgba(152, 0, 46, 1); font-weight: lighter; font-size: 80px; }
#headline h3 { font-family: 'avenirlight', sans-serif; font-weight: lighter; }

#clients { background: #3b0012; }
#clients h5 { font-family: 'avenirlight', sans-serif; background: white; font-weight: bolder;}
#client_box { background: white; }
#clients h6 { font-family: 'avenirroman', sans-serif; color: rgba(237, 23, 79, 1); text-align: center; font-size: 18px; margin-top: 25px; }
#clients ul li { font-family: 'avenirroman', sans-serif; list-style: none; text-align: center; font-size: 17px; margin-bottom: 8px; }
#clients ul li a { text-decoration: none; color: rgba(255, 255, 255, .6); }
#clients ul li a:hover { text-decoration: none; color: rgba(255, 255, 255, 1); }

.page_title { font-family: 'avenirlight', sans-serif; font-size: 50px; }
.subhead a { font-size: 18px; color: rgba(152, 0, 46, 1); }
.subhead a:hover { color: #000; }
.proj_title { font-family: 'avenirroman', sans-serif; color: rgba(152, 0, 46, 1); font-size: 34px;  }
.proj_title a { font-family: 'avenirroman', sans-serif; color: rgba(152, 0, 46, 1); font-size: 34px; text-decoration: none; }
.proj_title a:hover { color: rgba(237, 23, 79, 1); }
.proj_text p { font-family: 'avenirroman', sans-serif; font-size: 16px }
.proj_img img { border: solid white 10px; width: 600px; margin: 0 auto; display: block; margin-bottom: 20px; }
.proj_type h2 { font-family: 'avenirlight', sans-serif; font-size: 30px; text-transform: uppercase; }

footer { text-align: center; color: white; font-size: 10px; }
.about img { border: solid white 10px;  }
.about p { font-family: 'avenirlight', sans-serif; font-size: 18px;  }

.contact-type h5 { font-family: 'avenirroman', sans-serif; background-color: black; color: rgba(237, 23, 79, 1); font-size: 26px; }
.contact-info { font-family: 'avenirlight', Arial, sans-serif; color: black; font-size: 40px; }
.contact-info a { font-family: 'avenirlight', Arial, sans-serif; color: black; font-size: 40px; }
.contact-info a:hover { color: rgba(152, 0, 46, 1); }

/*-----  05 WEB STRUCTURE  -----*/

#topbar { height: 15px; margin: 0 0 10px 0;}

header { margin: 0 auto; height: 80px; padding: 50px 0 100px 0; }
#logo { text-align: center; }

#home_nav { width: 550px; margin: 0 auto;}
#home_nav ul li { float: left; margin-left: 50px; }
#nav {  position:fixed; z-index: 10;}

#headline { margin-top: 180px; margin-bottom: 100px; }
#headline h3 { margin-top: -10px; line-height: 1.3; }

#clients { padding: 20px; }
#clients h5 { padding: 5px 10px; width: 255px; }
#client_box { width: 90%; height: 100px;}

.proj_title { margin-bottom: 10px;  }
.about img { margin: 0 auto; display: block; margin-bottom: 30px;  }
.subhead a { margin-left: 30px; }
.proj_type h2 { margin-top: 55px; }

footer { margin-top: 20px; }

.page_title { margin-top: 200px; }

.contact { float: left; margin-right: 60px;}
.contact-type h5 { padding: 10px; width: 100px; height: 42px; }


/*------  05 SOCIAL MEDIA  ------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/



/*------  06 CONTACT  -----------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/



/*------  07 FOOTER  ------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/



/*------  XX xxNAMExx  ----------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/



